<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  ...
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="header">
  <div class="container-fluid">
    <span class="navbar-brand">Employee manager</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/employees/list}">Employee list</a>
        </li>
      </ul>
      <div sec:authorize="!isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
          <form th:action="@{/login}" method="GET">
            <input class="glyphicon glyphicon-log-out" type="submit" value="Log in">
          </form>
        </ul>
      </div>
      <div sec:authorize="isAuthenticated()">
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text  mx-4">
            Logged in as: <span sec:authentication="principal.username"></span>
        </li>
        <li class="navbar-text">
          <form th:action="@{/logout}" method="POST">
            <input class="glyphicon glyphicon-log-out" type="submit" value="logout">
          </form>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
</body>
</html>