<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid p-5 bg-primary text-center">
    <h1>Employee Manager log in page</h1>
</div>
<div class="container text-center">
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username" class="form-label">Username: </label>
            <input id="username" type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <label for="password" class="form-label">Password: </label>
            <input id="password" type="password" name="password" placeholder="Password"/>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="Log in" />
    </form>
</div>
</body>
</html>