<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Reservation form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
    <div class="container text-center mt-3">
    <form th:action="@{/reservations/save}" th:object="${reservationForm}" method="POST">
        <div th:if="${param.Error != null}" class="alert alert-danger">
            Form has some errors. Please verify input and try again.
        </div>
        <div class="mb-3">
            <label for="workspaces">Workspace: </label>
            <select th:object="${workspaces}" th:field="${reservationForm.workspaceId}" id="workspaces">
                <option th:each="workspace : ${workspaces}" th:value="${workspace.id}" th:text="${workspace.name}"></option>
            </select>
        </div>

        <div class="mb-3">
        <label for="start">Start date:</label>
        <input type="date" id="start" th:field="*{start}" />
        </div>

        <div class="mb-3">
        <label for="end">End date:</label>
        <input type="date" id="end" th:field="*{end}" />
        </div>

        <input type="hidden" th:field="*{officeId}" th:value="*{officeId}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</body>
</html>